.container{
    display: grid;
}
.command{
    width: 50%;
    margin: auto;
    padding: .5rem;
}
.butter {
    margin-top: 2rem;
    width: 8rem;
    height: auto;
    transition: marginLeft 3s;
}
.polymer {
    background-color:pink;
}
.vanilla {
    background-color: beige;
}
.vue {
    background-color:#9bd7b4;
}
.butter-component {
    background-color: white;
}